* {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
}

#app {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.site-header {
  background-color: #290f80;
  color: white;
  position: relative;
}

.site-header .header-container {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  flex: 1;
}

.main-nav {
  display: flex;
}

.main-nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.main-nav ul a {
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}

.logo {
  display: flex;
  margin: 0;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
}

#main-content {
  padding-top: 50px;
  width: 100%;
  display: block;
}

h2 {
  font-size: 35px;
}

p {
  font-weight: 400;
  font-size: 17px;
}

h4 {
  font-size: 30px;
}

button {
  height: 30px;
  width: 150px;
}

.menu-toggle{
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.menu-toggle span{
  display: block;
  width: 25px;
  height: 3px;
  background-color: #291181;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.container {
  width: 100%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.instructions-cards {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

}
.instructions-cards .card {
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(11, 140, 93, 1) 100%
  );
  border-radius: 5px;
  text-align: left;
  justify-content: center;
  justify-items: stretch;
  align-items: stretch;
  width: 260px;
  gap: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.instructions-cards:hover .card {
  filter: grayscale(80%) blur(2px);
  opacity: 0.7;
}

.instructions-cards .card:hover {
  filter: none;
  opacity: 1;
  transform: scale(1.05);
  background-color: var(--btn-primary);
  border-color: var(--highlight);
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  padding: 10px 0 10px 0;
}

.site-footer {
  color: white;
  background-color: #290f80;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.level-nav {
  display: flex;
  width: 100%;
}

.level-buttons {
  padding: 0;
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.level-buttons li {
  list-style: none;
}

.enigma-list {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.enigma-summary-card {
  font-size: 20px;
}
.enigma-summary-card p {
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: #291181;
  font-size: 15px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: #6b46f1;
}

.btn-secondary {
  background-color: #6b46f1;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.enigma-detail {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
}

.enigma-detail p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.solution-card {
  padding: 1.2rem;
  border-radius: 8px;
  background-color: #6b46f1;
}

.solution-text {
  color: white;
  font-weight: bold;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs ul {
  padding: 0;
  display: flex;
  gap: 20px;
  list-style: none;
}

.breadcrumbs ul a {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}

.table-container {
  overflow-x: auto;
}

th,
td {
  padding: 0.75rem 1rem;
  text-align: left;
}

.skip-link{
  position: absolute;
  top: -999px;
  left: 0;
  padding: 1em;
  z-index: 10000;
  color: white;
}

.skip-link:focus{
  top: 0;
}

@media (max-width: 768px){
  .main-nav{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; 
    display: none;
    flex-direction: column;
    padding: 1rem;
    background-color: #ffffff;
  }
  .site-header.menu-open .main-nav {
    display: flex;
  }

  .main-nav ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .main-nav li{
    width: 100%;
  }

  .main-nav a{
    display: block;
    padding: 1rem;
  }

  .menu-toggle{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
  }

   .site-header.menu-open .menu-toggle span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .site-header.menu-open .menu-toggle span:nth-child(2) {
    opacity: 0;
  }
  .site-header.menu-open .menu-toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }
}